<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>View Examples</title>
		<script type="text/javascript" src="../jquery-3.6.3.js"></script>
		<script type="text/javascript" src="../underscore-umd.js"></script>
		<script type="text/javascript" src="../backbone.js"></script>
	</head>
	<body>
		<div id="test">
			Test content
		</div>
		<div id="timer"></div>
		<div id="removable"></div>
		<div id="onClick"></div>
	</body>
	<script type="text/javascript" src="ViewExamples.js"></script>
</html>